<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>PDF Exporter</title>
    <link href="assets/css/slide.css"
          rel="stylesheet">
</head>

<body ng-app="EfgInfoApp"
      ng-controller="MainController"
      class="container">
    <div class="toolbar">
        <span class="toolbar-item"
              ng-repeat="action in actions"
              ng-click="action.action()"
              ng-bind="action.name"></span>
    </div>
    <div class="slide">
        <div class="headline">
            <input type="text"
                   ng-model="headline"
                   placeholder="Überschrift"
                   class="headline__content">
            <img src="assets/img/logo.svg"
                 class="headline__logo">
        </div>
        <div class="table">
            <div class="table-row"
                 ng-repeat="row in rows">
                <span class="table-row__left" ng-bind="row.left"></span>
                <span class="table-row__right" ng-bind="row.right"></span>
                <button type="button"
                        class="table-row__action"
                        ng-click="rows.splice($$index, 1)">
                    &times;
                </button>
            </div>
            <form class="table-row table-row--inputrow"
                 ng-submit="rows.push(newrow); newrow = {}"
                 ng-init="newrow = {}">
                <input type="text"
                       class="table-row__left"
                       placeholder="Geburtstag"
                       ng-model="newrow.left">
                <input type="text"
                       class="table-row__right"
                       placeholder="Name"
                       ng-model="newrow.right">
                <button class="table-row__action">+</button>
            </form>
        </div>
        <textarea type="text"
                  class="text"
                  ng-model="footer"
                  placeholder="Ein Vers..."></textarea>
    </div>
    <pre class="output">{{rows | json}}</pre>

    <!-- angular -->
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/pdfmake/build/pdfmake.min.js"></script>
    <script src="app/services/pdfTemplateService.js"></script>
    <script src="app/controllers/mainController.js"></script>
    <script src="app/app.js"></script>
    <!-- other -->
    <script src="assets/js/vfs_fonts_new.js"></script>
</body>

</html>
